*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

.main-div{
    background: linear-gradient(72deg, rgba(255,255,255,1) 42%, rgba(237,196,255,1) 41%);
    height: 100vh;
    background-repeat: no-repeat;
}

/* =============================== */
/* ========= Navber ============== */
/* =============================== */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-item{
    font-size: 1.3rem;
    margin: 1rem 2rem;
    font-family: 'Roboto';
    cursor: pointer;
    color: #23237ed1;
}

.signin-btn {
    all: unset;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(30deg, rgba(131,58,180,1) 41%, rgba(237,196,255,1) 100%);
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    font-family: "Roboto";
    cursor: pointer;
    margin-right: 10rem;
}


/* =============================== */
/* =========== Body ============== */
/* =============================== */



.intro-section {
    padding: 0rem 3rem;
}


.left-section {
    margin-top: 12rem;
    margin-left: 2rem;
}

.left-section > h1 {
    font-size: 7rem;
    font-family: 'Roboto';
    color: #55559d;
}

.left-section > h4 {
    font-weight: 400;
    font-family: 'Roboto';
    width: 25rem;
    font-size: 1.4rem;
    color: #888;
    margin: 5rem 0rem;
    line-height: 2.2rem;
}

.learn-more-btn {
    all: unset;
    font-size: 1.8rem;
    color: #fff;
    background: linear-gradient(64deg, rgb(120 53 165) 39%, rgba(237,196,255,1) 100%);
    padding: 1rem 2rem;
    border-radius: 35px;
    font-weight: 700;
    font-family: 'Roboto';
    cursor: pointer;
}

.imgs-div img:nth-of-type(3) {
    position: absolute;
    left: 40rem;
    top: 7rem;
    width: 69rem;
}

.imgs-div img:nth-of-type(1) {
    position: absolute;
    bottom: -3rem;
    left: 46rem;
    transform: rotate(-10deg);
}

.imgs-div img:nth-of-type(2) {
    position: absolute;
    left: 49.5rem;
    bottom: 3rem;
}


@media screen and (max-width: 1222px) {
    .signin-btn{
        margin-right: 0rem;
    }

    .imgs-div img:nth-of-type(3) {
        position: relative;
        left: 0rem;
        top: 7rem;
        width: 69rem;
    }

    .main-div {
        height: initial;
    }
}

@media screen and (max-width: 1014px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        flex-direction: column;
    }

    .imgs-div img:nth-of-type(1){
        display: none;
    }

    .imgs-div img:nth-of-type(2){
       display: none;
    }

    .nav-items {
        margin: 1rem 0rem;
    }

    .left-section > h4 {
        margin: 2rem auto;
    }
}

@media screen and (max-width: 646px) {
    .nav-item {
        font-size: .8rem;
        margin: 1rem 1rem;
    }

    .intro-section {
        padding: 0rem 0rem;
    }

    .left-section {
        margin-top: 2rem;
        margin-left: 1rem;
        text-align: center;
    }

    .left-section > h4 {
        width: 25rem;
        font-size: 1.3rem;
        margin: 2rem auto;
    }

    .imgs-div img:nth-of-type(3){
        width: 35rem;
    }
}